html,
body,
.map {
    height: 100%;
    width: 100%;
    background: #ede9d9;
    position: absolute;
}

body {
    padding: 0;
    margin: 0;
}

path {
    stroke-linejoin;
    round;
    stroke-linecap: round;
    fill: none
}

path.road {
    stroke: #3C80A9;
    fill: none;
}
path.road.highway {
    
}

path.water {
    stroke: none;
    fill: #8ccbf7;
}

img {
    -webkit-filter: grayscale(100%) brightness(40%) contrast(150%);
    filter: grayscale(100%) brightness(40%) contrast(150%);
}
